@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;800&display=swap');
/* color pallete 
    main bg: 182747
    font color: D8D8D8
    headings: 647E68
    accent: 562B08
*/

#index {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
}

.landingpageBG{
    background-size: 100%;
}

#landingPageOpening {
  color: white;
}

#landingPageButton {
    text-decoration: none;
    color: white;
    width: 20%;
    border-width: 3px;
    border-color: white;
    border-style: solid;
    padding: 5px;
    left: 50%;
    transform: translate(187%, 0%);
    transition: 0.6s ease;
}

.landingPageText {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0px 30px;
}


#landingPageButton:hover {
    color: black;
    background-color: white;
}

.navbar {
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: #D8D8D8;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #647E68;
    transition: .3s;
}

/* ABOUT ME */

#body_aboutme {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-color: #182747;
    overflow: hidden;
}

#body_gallery {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-color: #182747;
}

#body_aboutme p {
    color: white;
    position: absolute;
    word-wrap: break-word;
    left: 1000px;
    font-size: 20px;
}

#body_contactme {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-color: #182747;
}

#body_aboutme h1 {
    color: white;
}

.techstackimages {
    position: absolute;
    top: 750px;
    left: 190px;
}

.educationimages {
    position: absolute;
    top: 750px;
    left: 1000px;
}

#heading_aboutme {
    color: #D8D8D8;
    font-size: 50px;
}

#mepicture_aboutme {
    position: absolute;
    height: 45%;
    border: 10px solid #562B08;
    left: 450px;
}


#techstack_aboutme {
    position: relative;
    font-size: 40px;
    left: 190px;
    top: 500px;
}

#education_aboutme {
    position: relative;
    font-size: 40px;
    left: 1000px;
    top: 420px;
}

