@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;800&display=swap');
/* color pallete 
    main bg: 182747
    font color: D8D8D8
    headings: 647E68
    accent: 562B08
*/

#index_body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
}

.landingpageBG{
    background-size: 100%;
}

#landingPageOpening {
  color: white;
}

#landingPageButton {
    text-decoration: none;
    color: white;
    width: 20%;
    border-width: 3px;
    border-color: white;
    border-style: solid;
    padding: 5px;
    left: 50%;
    transform: translate(187%, 0%);
    transition: 0.6s ease;
}

.landingPageText {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0px 30px;
}


#landingPageButton:hover {
    color: black;
    background-color: white;
}

/* ABOUT ME */

#body_aboutme {
    background-color: #182747;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

#body_aboutme h3, p{
    color: #D8D8D8;
}

#body_aboutme h2 {
    color: #647E68;
}

#heading_aboutme {
    color: #647E68
}

#intro_aboutme {
    color: #D8D8D8;
    position: absolute;
}

#mepicture_aboutme {
    width: 25%;
    height: 25%;
}